@value tokens: "../../styles/tokens.module.css";
@value dark, subtitle-size, off-white, white-prim, button, green-prim, yellow-prim from tokens;

.proj__img {
  background-image: linear-gradient(270deg, rgba(30, 30, 30, 0.55) 6.29%, rgba(28, 28, 28, 0) 25.81%);
  background-image: -moz-linear-gradient(270deg, rgba(30, 30, 30, 0.55) 6.29%, rgba(28, 28, 28, 0) 25.81%);
  background-image: -webkit-gradient(270deg, rgba(30, 30, 30, 0.55) 6.29%, rgba(28, 28, 28, 0) 25.81%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
}

.proj__img__box {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  align-items: center;
}

.proj__details {
  color: white;
  font-weight: 600;
  height: 1rem;
}

.proj__details:hover {
  color: #676767;
}

.proj__container {
  padding: 1rem;
  /*background-color: red; --> Moest het tog eenn eigen kleur hebben*/
}

.proj__title {
  font-size: subtitle-size;
  color: dark;
  font-weight: 800;
  padding: .5rem 0;
}

.proj__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proj__theme,
.proj__like {
  color: #676767;
  font-weight: 600;
}

.proj__status {
  display: flex;
}

.bezig,
.klaar,
.afgerond {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2rem;
  margin-left: 1rem;
}

.bezig {
  background-color: yellow-prim;
}

.klaar {
  background-color: green-prim;
}

.afgerond {
  background-color: #2d9cdb;
}

.proj__boxlike {
  display: flex;
  align-items: center;
}

.proj__likeicon {
  margin-right: 1rem;
}

.proj__users__data {
  display: flex;
  align-items: center;
}

.proj__owners,
.proj__user {
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.proj__owners {
  background-color: green-prim;
}

.proj__user {
  background-color: off-white;
}