@value tokens: "../../styles/tokens.module.css";
@value off-white, subtitle-size, dark from tokens;

.input__form {
  width: 80%;
  background-color: transparent;
  height: 3rem;
  border: .1rem dark solid
}

.button__form {
  background-color: transparent;
  border: none;
}

.button__form__img {
  height: 2.5rem;
  cursor: pointer;
}

.button__form__img:hover {
  filter: invert(41%) sepia(69%) saturate(5853%) hue-rotate(300deg) brightness(86%) contrast(112%);
}

.form__container {
  display: flex;
  align-items: center;
}
