@value tokens: "../../styles/tokens.module.css";
@value subtitle-size from tokens;

.input {
 border: solid 1px black;
 margin: .5rem 0 2rem;
 width: 27rem;
 height: 2.5rem;
 font-size: 1.4rem;
}

.label {
  display: flex;
  flex-flow: column;
  font-weight: 500;
  font-size: subtitle-size;
}
