@value tokens: "./tokens.module.css";
@value red-prim from tokens;

.details__link {
  display: flex;
  align-items: center;
  margin-left: -2rem;
  width: 23rem;
}

.details__link__tekst {
  font-weight: 600;
  margin-left: 1rem;
}

@-webkit-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  40% {
    -webkit-transform: translateX(1.8rem);
    transform: translateX(1.8rem);
  }
  60% {
    -webkit-transform: translateX(.9rem);
    transform: translateX(.9rem);
  }
}
@-moz-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0rem);
  }
  40% {
    transform: translateX(1.8rem);
  }
  60% {
    transform: translateX(.9rem);
  }
}
@keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  40% {
    -ms-transform: translateX(1.8rem);
    transform: translateX(1.8rem);
  }
  60% {
    -ms-transform: translateX(.9rem);
    transform: translateX(.9rem);
  }
}

.details__link:hover {
  -webkit-animation: bounceLeft 1.5s infinite;
  animation: bounceLeft 1.5s infinite;
}

.driehoek {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-right: 2rem solid red-prim;
  border-bottom: 1.5rem solid transparent;
}

@media only screen and (max-width: 500px) {
  .details__link {
    margin-left: 0;
  }
}