@value tokens: "../../../styles/tokens.module.css";
@value dark, green-prim, subtitle-size, off-white from tokens;

.topbar {
  grid-column: 2 / 3;
	grid-row: 1;
	height: 8rem;
}

.topbar__fixed {
	position: fixed;
	background: off-white;
	height: 8rem;
	z-index: 10000;
	width: 84%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 3rem;
}

.topbar__logo {
	display: none;
}

.notifications, .user, .userInfo, .mode {
	margin-right: 2.5rem;
}

.userInfo {
	line-height: 1.2;
}

.userInfo__name {
	color: dark;
	font-size: subtitle-size;
	font-weight: 800;
}

.userInfo__status {
	color: green-prim;
}

@media only screen and (max-width: 850px) {
	.topbar__fixed {
		width: 100%;
	}

	.topbar__logo {
		width: 30%;
		margin-left: 1rem;
		display: block;
		font-size: 2.4rem;
		font-weight: bold;
		color: green-prim;
	}

	.notifications {
		width: 4rem;
	}
}

@media only screen and (max-width: 750px) {
	.userInfo,
	.Logout {
		display: none;
	}

	.topbar__logo {
		width: 60%;
	}

	.topbar__fixed {
		padding-right: 0;
	}
}