@value tokens: "../../../styles/tokens.module.css";
@value button, dark, green-prim, green-hover, yellow-prim, off-white, subtitle-size, title-size, extra-font from tokens;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
}

.user__container {
  margin-bottom: 4rem;
}

.user__container,
.info__button__active,
.info__button,
.buttons {
  display: flex;
  align-items: center;
}

.user__info {
  display: flex;
  flex-flow: column;
  margin-left: 2rem;
}

.user__name {
  font-size: title-size;
  color: dark;
  font-weight: 900;
  margin-bottom: 1rem;
}

.user__date {
  font-size: subtitle-size;
  font-weight: lighter;
  font-family: extra-font;
}

.buttons {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: wrap;
}

.info__button {
  background-color: green-prim;
  padding: button;
  border: none;
  font-weight: 900;
  font-size: subtitle-size;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
  margin-top: 1rem
}

.info__button:hover {
  background-color: green-hover;
}

.info__icon {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(26deg) brightness(500%) contrast(102%);
  margin-right: 1rem;
}

.info__button__active {
  background-color: off-white;
  padding: button;
  font-weight: 900;
  font-size: subtitle-size;
  color: green-prim;
  border: none;
  margin-right: 1rem;
  margin-top: 1rem
}

.info__button__active .info__icon {
  filter: none;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__gif {
  width: 45rem;
}

@media only screen and (max-width: 1025px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .user__name {
    font-size: 2.4rem;
  }

  .loading__gif {
    width: 35rem;
  }
}