@import "./styles/reset.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-size: 1.4rem;
  font-family: 'Montserrat', Helvetica, sans-serif;
  background-color: #e9edf0;
}

a {
  text-decoration: none;
  color: black;
}

.leaflet-container {
  width: 100%;
  height: 70vh;
  border: 5px slategrey solid;
}