@value tokens: "../../styles/tokens.module.css";
@value subtitle-size, dark, yellow-prim, green-prim, light-dark from tokens;

.popup {
  min-width: 18rem;
  max-width: 30rem;
}

.title {
  font-size: subtitle-size;
  color: dark;
  font-weight: 900;
}

.info1,
.info2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info1 {
  margin-bottom: 2rem;
}

.theme {
  color: light-dark;
  font-weight: 900;
  font-size: 1.1rem;
}

.bezig,
.klaar,
.afgerond {
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
}

.bezig {
  background-color: yellow-prim;
}

.klaar {
  background-color: green-prim;
}

.afgerond {
  background-color: #2d9cdb;
}

.users__count {
  padding: .6rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: green-prim;
}