@value tokens: "../../../styles/tokens.module.css";
@value off-white, subtitle-size from tokens;

.chat__grid { 
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
  grid-column-gap: 2rem;
}

.info__content {
  background-color: off-white;
  padding: 2rem 3rem;
}

.details__link {
  display: flex;
  align-items: center;
  margin-left: -2rem;
  width: 23rem;
}

.details__link__tekst {
  font-weight: 600;
  margin-left: 1rem;
}

@-webkit-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  40% {
    -webkit-transform: translateX(1.8rem);
    transform: translateX(1.8rem);
  }
  60% {
    -webkit-transform: translateX(.9rem);
    transform: translateX(.9rem);
  }
}
@-moz-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0rem);
  }
  40% {
    transform: translateX(1.8rem);
  }
  60% {
    transform: translateX(.9rem);
  }
}
@keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  40% {
    -ms-transform: translateX(1.8rem);
    transform: translateX(1.8rem);
  }
  60% {
    -ms-transform: translateX(.9rem);
    transform: translateX(.9rem);
  }
}

.details__link:hover {
  -webkit-animation: bounceLeft 1.5s infinite;
  animation: bounceLeft 1.5s infinite;
}

.driehoek {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-right: 2rem solid red;
  border-bottom: 1.5rem solid transparent;
}

.messeage__title {
  font-size: 3.6rem;
  font-weight: 900;
}

.info__title {
  font-size: subtitle-size;
  font-weight: bold;
  margin-bottom: 1rem;
}

.info__text {
  font-weight: 500;
  margin-bottom: 4rem;
}

.info__eigenaarlist {
  margin-bottom: 2rem;
}

.list__item {
  font-size: subtitle-size;
  font-weight: 500;
  margin: 1rem 0;
}

.chat__box {
  display: flex;
  flex-flow: column;
}
